body{
    background-image:url(notebook.jpg);

    background-size:cover;              
    background-repeat:no-repeat;
    background-position:center;
    margin: 0;
    padding: 0;
    
}
.container{
    margin-left: 149px;
    margin-top: 170px;
    position: relative;
    width: 500px;
    height: 200px;
    font-style:italic; 
    /* background-color: rgba(250, 235, 215, 0.445); */
    
}
.details{
    /* background-color: aqua; */
    text-align: center;
}
.details::after{
    position: absolute;
    content: "";
    top: 70px;
    left: 50px;
    height: 3px;
    width: 400px;
    background: #000;
}
.card{
    margin-top: 50px;
    margin-left: -170px;
    width: 400px;
    
    /* background-color: rgba(245, 245, 220, 0.597); */
   
}
.flex-card{

    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;


}
.container >input
{
    width: 350px;
    height: 40px;
    /* padding: 7px; */
    border: none;
    border-radius: 4px;
    
}
input:focus{
    outline: none;
    border: 2px solid lightblue;
}
#btn{
    padding: 12px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}
#btn:hover{
    padding: 12.5px;
}
.todobar{
    text-align: center;
    background-color: rgba(150, 197, 238, 0.711);
    height: 16px;
    padding: 10px;
    font-size: 19px;
    font-style:italic;

}
.container >.dateandtime{
    width: 3%;
    height: 8%;
    padding: 10px;
}

.text{
    font-size: 19px;
}
.datetime{
    font-size: 16px;
    color: gray;
    margin-top: 5px;
    margin-left: 29px;
}

.box{
    display: flex;
    gap: 300px;
}

.datetime{
    display: flex;
    justify-content: space-between;
}
.card >p{
color: red;
}
#deletename{
    line-height: 1px;

}